<div class="container">
  <div class="row">
    <div class="area-top clearfix">
      <div class="pull-left header">
        <h3 class="title">
          <i class="icon-bullhorn"></i>
          Initiatives
        </h3>
      </div>
    </div>
  </div>

  <table class="table table-normal">
    <thead>
      <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Goal</td>
        <td>Start Date</td>
        <td>End Date</td>
      </tr>
    </thead>
    <tbody>
      <% @initiatives.each do |i| %>
        <tr>
          <td><%= link_to i.title, initiative_path(i) %></a></td>
          <td><%=h truncate(i.description, :length => 50) %></a></td>
          <td><%= i.goal %></a></td>
          <td><%= i.start_date %></a></td>
          <td><%= i.end_date %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= will_paginate @initiatives %>

</div>
