<div class="container">
  <div class="row">
    <div class="area-top clearfix">
      <div class="pull-left header">
        <h3 class="title">
          <i class="icon-bullhorn"></i>
          <%= @initiative.title %>
        </h3>
        <h5>
          <span>
          	<% if @initiative.active == true %>
            	<%= "ACTIVE" %>
            <% else %>
            	<%= "inactive" %>
            <% end %>
          </span>
        </h5>
      </div>
    </div>
  </div>

	<div class="row">
		<div class="col-md-6">
		  <div class="action-nav-normal action-nav-line">
	  		<div class="row action-nav-row">

			    <div class="col-sm-4 action-nav-button">
			    	<%= link_to '<i class="icon-heart icon-2x"></i>
			        <span>Setup sponsorship</span>'.html_safe, "#spon-add-receivers", :data => {toggle: "modal"}  %>
			    </div>

			    <div class="col-sm-2 action-nav-button">
			    	<%= link_to '<i class="icon-user"></i>
			        <span>Add person</span>'.html_safe, new_receiver_path({:type => "person", :initiative_id => @initiative.id}), :class => "btn btn-lg btn-green" %>
			      <span class="triangle-button green"><i class="icon-plus"></i></span>
			    </div>

			    <div class="col-sm-2 action-nav-button">

					<%= link_to '<i class="icon-building"></i>
			        <span>Add project</span>'.html_safe, new_receiver_path({:type => "project", :initiative_id => @initiative.id}) %>
			      <span class="triangle-button green"><i class="icon-plus"></i></span>
			    </div>

			    <div class="col-sm-2 action-nav-button">
			    	<%= link_to(('<i class="icon-edit"></i><span>Edit</span>').html_safe, edit_initiative_path) %>
			    </div>

			    <div class="col-sm-2 action-nav-button">
						<%= link_to(('<i class="icon-trash"></i><span>Delete</span>').html_safe, @initiative, :confirm => 'Are you sure?', :method => :delete) %>
			    </div>
	  		</div>
			</div>
			<hr class="divider">

			<div class="box">
	      <div class="box-header">
	        <ul class="nav nav-tabs nav-tabs-left">
	          <li class="active"><a href="#home" data-toggle="tab"><i class="icon-user"></i><span>People</span></a></li>
	          <li class=""><a href="#messages" data-toggle="tab"><i class="icon-building"></i><span>Projects</span></a></li>
	          <li class=""><a href="#settings" data-toggle="tab"><i class="icon-heart"></i><span>Sponsorships</span></a></li>
	        </ul>
	      </div>

	      <div class="box-content scrollable" style="max-height: 600px; overflow-y: auto">
	        <div class="tab-content">
	          <div class="tab-pane active" id="home">
	          	<table class="table table-normal">
				      <thead>
				      <tr>
				        <td>Name</td>
				        <td>Gender</td>
				        <td>Nationality</td>
				      </tr>
				      </thead>
				      <tbody>
				      <% @people.each do |p| %>
								<tr><td><%= p.full_name %></td>
									<td><%= p.gender %></td>
									<td><%= p.nationality %></td>
								</tr>
							<% end %>
				      </tbody>
				    </table>
						</div>
	          <div class="tab-pane" id="messages">

	          	<table class="table table-normal">
				      <thead>
				      <tr>
				        <td>Name</td>
				      </tr>
				      </thead>
				      <tbody>
				      <% @projects.each do |p| %>
								<tr>
									<td><%= p.name %></td>
								</tr>
							<% end %>
				      </tbody>
				    </table>
	          </div>

	          <div class="tab-pane" id="settings">
	          	<div class="box-conent">
	          	<table class="table table-normal">
	          	<thead>
				      <tr>
				        <td>Receivers</td>
				        <td>Sponsors(s)</td>
				        <td>Recurring</td>
				        <td>Amount</td>
				        <td>Active</td>
				      </tr>
				      </thead>
				      <tbody>
				      <% @sponsorships.each do |s| %>
										<tr>
											<td>
												<% s.receivers.each do |r| %>
													<% if r.receiverable_type == "Project" %>
														<%= r.receiverable.name %>
													<% else %>
														<%= r.receiverable.full_name %>
													<% end %>
												<% end %>
											</td>
											<td>
												<% s.sponsors.each do |s| %>
													<%= s.full_name %><br>
												<% end %>
											</td>
											<td>
												<% if s.recurring_payment %>
													<i class="icon-refresh"></i>
												<% end %>
											</td>
											<td>
												<%= number_to_currency(s.amount) %>
											</td>
											<td class="status-success">
												<% if s.active %>
													<i class="icon-ok"></i>
												<% end %>
											</td>
										</tr>

								<% end %>
				      </tbody>
				    </table>
				  </div>
	          </div>
	        </div>
	      </div>

		  </div>
		</div>

		<div class="col-md-6">
		  <div class="box">
		  	<div class="box-header">
		    	<span class="title"><i class="icon-comment-alt="></i> STATS</span>
		   	</div>
		    <div class="box-content padded">
					<div class="row">
						<div class="col-md-6 separate-sections" style="margin-top: 5px;">

			        <div class="row">
			          <div class="col-md-12">
			            <div class="dashboard-stats">
			              <ul class="list-inline">
			                <li class="glyph"><i class="icon-money icon-2x"></i></li>
			                <li class="count"><%= number_to_currency(@sum) %></li>
			              </ul>

			              <div class="progress">
			                <div class="progress-bar progress-blue tip" title="" data-percent="<%= @sum/@initiative.goal*100 %>" data-original-title="%" style="width: ;"></div>
			              </div>

			              <div class="stats-label">given of goal: <%= number_to_currency(@initiative.goal) %></div>
			            </div>
			          </div>
			        </div>

			        <div class="row" style="margin-top:30px;">
			          <div class="col-md-6">
			            <div class="dashboard-stats small">
			              <ul class="list-inline">
			                <li class="glyph"><i class="icon-user"></i></li>
			                <li class="count">17</li>
			              </ul>
			              <div class="progress">
			                <div class="progress-bar progress-blue tip" title="" data-percent="65" data-original-title="65%" style="width: 65%;"></div>
			              </div>

			              <div class="stats-label">People</div>
			            </div>
			          </div>

			          <div class="col-md-6">
			            <div class="dashboard-stats small">
			              <ul class="list-inline">
			                <li class="glyph"><i class="icon-eye-open"></i></li>
			                <li class="count">2</li>
			              </ul>
			              <div class="progress">
			                <div class="progress-bar progress-blue tip" title="" data-percent="20" data-original-title="80%" style="width: 80%;"></div>
			              </div>
			              <div class="stats-label">Projects</div>
			            </div>
			          </div>
			        </div>

			      </div>
					</div>
		    </div>
		   </div>


		    <div class="box">
		      <div class="box-header">
		        <span class="title">STORIES</span>
		      </div>
		      <div class="box-content scrollable" style="max-height: 600px; overflow-y: auto">
		        <!-- find me in partials/news_with_icons -->
		        <% @stories.each do |s| %>
		        <div class="box-section news with-icons">
		          <div class="avatar blue"><i class="icon-comment icon-2x"></i></div>
		          <div class="news-time">
		            <span><%= s.updated_at.strftime("%d") %></span> <%= s.updated_at.strftime("%B") %>
		          </div>
		          <div class="news-content">
		            <div class="news-title"><a href="#"><%= s.title %></a></div>
		            <div class="news-text">
		              <%= s.content %>
		            </div>
		          </div>
		        </div>
		        <% end %>
		      </div>
			  </div>
		  </div>
		</div>

	</div>

</var> <!-- end container -->


<%= render 'modals/add_receivers' %>
