<div class="container">

    <div class="row">

      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title">
            <i class="icon-bullhorn"></i>
            <%= @initiative.title %>
          </h3>
          <h5>
            <span>
            	<% if @initiative.active == true %>
              	<%= "ACTIVE" %>
              <% else %>
              	<%= "inactive" %>
              <% end %>
            </span>
          </h5>
        </div>
      </div>
    </div>

  <div class="row">
	  <div class="col-md-6">
	    <div class="box">
	      <div class="box-header">
	        <span class="title"><i class="icon-comment-alt="></i> DESCRIPTION</span>
	      </div>
	      <div class="box-content padded">
	        <%= @initiative.description %>
	      </div>
	    </div>
	  </div>
	  <div id="goal", class="col-md-3", style="height:160px; display:block; padding:0px">
	  	<div id="goal" style="height:160px;">
	  		<script>
  				var g = new JustGage({
				    id: "goal",
				    value: <%= @sum %>,
				    min: 0,
				    max: <%= @initiative.goal %>,
				    title: "Goal: <%= @initiative.goal.to_i %>",
				    levelColors: [ "#ff0000", "#ffff00", "#008000" ]
  					});
				</script>
			</div>
	  </div>
	  <h4 class="gray"><span>Start Date</span><br><%= @initiative.start_date %></h4>
	  <h4 class="gray"><span>End Date</span><br><%= @initiative.end_date %></h4>
	  	<%= link_to "Edit", :edit_initiative, :class => "inline btn btn-lg btn-blue", :controller => :initiatives, :method => :get %>
		<%= link_to 'Destroy', @initiative, :class => "inline btn btn-lg btn-red", :confirm => 'Are you sure?', :method => :delete %>
		<%= link_to 'Back', initiatives_path, :class => "inline btn btn-lg btn-brown", :method => :get %>
	</div>

	<div>
		<%= link_to 'Add Person', new_receiver_path({:type => "person", :initiative_id => @initiative.id}), :class => "btn btn-lg btn-green" %>
		<%= link_to 'Add Project', new_receiver_path({:type => "project", :initiative_id => @initiative.id}), :class => "btn btn-lg btn-green" %>
	</div>

		<div class="col-md-6" style="padding-left: 0px;">
			<div class="box">
	      <div class="box-header">
	        <ul class="nav nav-tabs nav-tabs-left">
	          <li class="active"><a href="#home" data-toggle="tab"><i class="icon-user"></i><span>People</span></a></li>
	          <li class=""><a href="#messages" data-toggle="tab"><i class="icon-building"></i><span>Projects</span></a></li>
	          <li class=""><a href="#settings" data-toggle="tab"><i class="icon-heart"></i><span>Sponsorships</span></a></li>
	        </ul>
	      </div>

	      <div class="box-content">
	        <div class="tab-content">
	          <div class="tab-pane active" id="home">
	          	<table class="table table-normal">
				      <thead>
				      <tr>
				        <td>Name</td>
				        <td>Gender</td>
				        <td>Nationality</td>
				      </tr>
				      </thead>
				      <tbody>
				      <% @people.each do |p| %>
								<tr><td><%= p.full_name %></td>
									<td><%= p.gender %></td>
									<td><%= p.nationality %></td>
								</tr>
							<% end %>
				      </tbody>
				    </table>
						</div>
	          <div class="tab-pane" id="messages">

	          	<table class="table table-normal">
				      <thead>
				      <tr>
				        <td>Name</td>
				      </tr>
				      </thead>
				      <tbody>
				      <% @projects.each do |p| %>
								<tr>
									<td><%= p.name %></td>
								</tr>
							<% end %>
				      </tbody>
				    </table>
	          </div>

	          <div class="tab-pane" id="settings">
	          	<div class="box-conent">
	          	<table class="table table-normal">
	          	<thead>
				      <tr>
				        <td>Receivers</td>
				        <td>Sponsors(s)</td>
				        <td>Recurring</td>
				        <td>Amount</td>
				        <td>Active</td>
				      </tr>
				      </thead>
				      <tbody>
				      <% @sponsorships.each do |s| %>
										<tr>
											<td>
												<% s.receivers.each do |r| %>
													<% if r.receiverable_type == "Project" %>
														<%= r.receiverable.name %>
													<% else %>
														<%= r.receiverable.full_name %>
													<% end %>
												<% end %>
											</td>
											<td>
												<% s.sponsors.each do |s| %>
													<%= s.full_name %><br>
												<% end %>
											</td>
											<td>
												<% if s.recurring_payment %>
													<i class="icon-refresh"></i>
												<% end %>
											</td>
											<td>
												<%= s.amount.to_i %>
											</td>
											<td class="status-success">
												<% if s.active %>
													<i class="icon-ok"></i>
												<% end %>
											</td>
										</tr>

								<% end %>
				      </tbody>
				    </table>
				  </div>
	          </div>
	        </div>
	      </div>
		  </div>
		</div>

		<div class="col-md-6">
	    <div class="box">
	      <div class="box-header">
	        <span class="title">STORIES</span>
	      </div>
	      <div class="box-content scrollable" style="height: 300px; overflow-y: auto">
	        <!-- find me in partials/news_with_icons -->
	        <% @stories.each do |s| %>
	        <div class="box-section news with-icons">
	          <div class="avatar blue"><i class="icon-comment icon-2x"></i></div>
	          <div class="news-time">
	            <span><%= s.updated_at.strftime("%d") %></span> <%= s.updated_at.strftime("%B") %>
	          </div>
	          <div class="news-content">
	            <div class="news-title"><a href="#"><%= s.title %></a></div>
	            <div class="news-text">
	              <%= s.content %>
	            </div>
	          </div>
	        </div>
	        <% end %>
	      </div>
	    </div>
	  </div>

	</div>

</div>