<div class="container">
  <div class="row">
    <div class="area-top clearfix">
      <div class="pull-left header">
        <h3 class="title">
          <i class="icon-user"></i>
          
          <% if current_page?('/people?cat=2') %>
             <%= 'All People' %>
          <% elsif current_page?('/people?cat=3')%>
            <%= 'Supporters' %>
          <% elsif current_page?('/people?cat=1')%>
            <%= 'Staff' %> 
          <% end %>        

        </h3>
      </div>
    </div>
  </div>

  <!-- notice the nav-tabs-left -->

  <ul class="nav nav-tabs nav-tabs-left">
    <li class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
    <li><a href="#messages" data-toggle="tab"><i class="icon-comments-alt"></i> <span>Messages</span></a></li>
    <li><a href="#settings" data-toggle="tab"><i class="icon-cog"></i> <span>Settings</span></a></li>
  </ul>

  <div class="title">

    <table class="table table-normal">
      <thead>
        <tr class="">
          <td>Name</td>
          <td>Gender</td>
          <td>Category</td>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td><a href="people/<%= person.id %>"><%= person.full_name %></a></td>
            <td><a href="people/<%= person.id %>"><%= person.gender %></a></td>
            <td><a href="people/<%= person.id %>"><%= person.category.name %></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<%= will_paginate @people %>
</div>
<div>

</div>
</div>
