<% @people.each do |person| %>
  <a href="people/<%= person.id %>"><%= person.id %> <%= person.full_name %></a>
	<br>
<% end %>



=======
<div class="box-header">

  <!-- notice the nav-tabs-left -->

  <ul class="nav nav-tabs nav-tabs-left">
    <li class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i></a></li>
    <li><a href="#messages" data-toggle="tab"><i class="icon-comments-alt"></i> <span>Messages</span></a></li>
    <li><a href="#settings" data-toggle="tab"><i class="icon-cog"></i> <span>Settings</span></a></li>
  </ul>

  <div class="title">

    <table class="table table-hover">
      <thead>
        <tr class="info">
          <td>Name</td>
          <td>Gender</td>
          <td>Category</td>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td><%= person.full_name %></td>
            <td><%= person.gender %></td>
            <td><%= person.category.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
<div>

</div>

