<h1>Name: <%= @person.full_name %></h1>

<%= flash[:notice] %>
<%= Tenant.current_tenant.id %>

<br>
	<p>
	  User Id: <%= @person.id %>
	</p>
	<p>
	  Category: <%= @person.category.name %>
	</p>
<!-- 	<p>
		Full Name: <%= @person.full_name %> -->
<!--     First Name: <%= @person.first_name %>
    Last Name: <%= @person.last_name %> -->
<!-- 	</p> -->
	<p>
    Gender: <%= @person.gender %>
	</p>
	<p>
		Nationality: <%= @person.nationality %>
	</p>
	<p>
    Phone No.: <%= @person.phone_number %>
	</p>
	<p>
		Date of Birth: <%= @person.date_of_birth %>
	</p>


	<%= button_to "Edit", :edit_person, :class => "btn btn-blue", :controller => :people, :method => :get %>
	<%= button_to 'Destroy', @person, :class => "btn btn-blue", :confirm => 'Are you sure?', :method => :delete %>
  <%= link_to 'Add to group', "/people/addgroup/#{@person.id}", :class => "btn btn-blue"%> <br> 

	<% unless @person.user == nil %>
		<%= link_to 'Edit Role', "/people/editroleform/#{@person.id}", :class => "btn btn-blue"%> <br> 
		
	<% end %>


	<% if @person.category_id == 1 || @person.category_id == 2 %>
  <%= link_to 'Create Story', new_story_path(object_id: @person.id, object_type: @person.class.name ), :class => "btn btn-blue"%> <br> 
	<% end %>



