<h1>Name: <%= @person.full_name %></h1>
<br>
	<p>
	  User Id: <%= @person.id %>
	</p>
	<p>
	  Category: <%= @category.name %> 
	</p>
<!-- 	<p>
		Full Name: <%= @person.full_name %> -->
<!--     First Name: <%= @person.first_name %> 
    Last Name: <%= @person.last_name %> -->
<!-- 	</p> -->
	<p>
    Gender: <%= @person.id %>
	</p>
	<p>
		Nationality: <%= @person.nationality %>
	</p>
	<p>
    Phone No.: <%= @person.phone_number %>
	</p>
	<p>
		Date of Birth: <%= @person.date_of_birth %>
	</p>

	<button type="submit" class="btn btn-blue">Edit</button>
	<button type="submit" class="btn btn-blue">Delete</button>