 <div class="box-content">

      <%= form_for @group, class: "fill-up" do |f| %>
        <p>
          <%= f.label :"Name" %><br>
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.label :"Manager ID" %><br>
          <%= f.text_field :manager_id %>
        </p>
          <%= submit_tag "Save Group", :name => 'save_button', class: "btn btn-blue" %>
        </p>
      <% end %>
  </div>