<div class="container">
  <div class="row">
    <div class="area-top clearfix">
      <div class="pull-left header">
        <h3 class="title">
          <i class="icon-group"></i>
            Groups
        </h3>
      </div>
    </div>
  </div>

  <div class="title">

    <table class="table table-normal">
      <thead>
        <tr class="">
          <td>Name</td>
          <td>Manager</td>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |s| %>
          <tr>
            <td><a href="groups/<%= s.id %>"><%= s.name  %></a></td>
            <% unless s.manager == nil %> 
            <td><a href="groups/<%= s.id %>"><%= s.manager.full_name %></a></td>
            <% end %> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @groups %>
</div>
<div>
<%= link_to 'Create Group', new_group_path, :class => "btn btn-blue"%>
</div>
</div>

