
<h1> Name: <%= @group.name %> </h1>    
<h6> Manager:    
<% unless @group.manager == nil %> 
<%= @group.manager.full_name %> </h6> 
<% end %> 
<h6> Members: </h6>  
<% @group.members.each do |m| %>
<%= m.full_name %>  

<%= link_to 'Remove', "/people/remove/#{m.id}/group/#{@group.id}", :confirm => 'Are you sure?',:method => :post, :class => "icon-remove" %>  <br>
<% end %> 
<br> 
<br> 

<%= link_to "Edit", :edit_group, :class => "inline btn btn-blue", :controller => :initiatives, :method => :get %>
<%= link_to 'All Groups', groups_path, :class => "inline btn btn-blue", :method => :get %>
<%= link_to 'Destroy', @group, :class => "inline btn btn-red", :confirm => 'Are you sure?', :method => :delete %>
<%#= link_to 'Remove Members', "/group/removemembersform/#{@group.id}", :class => "inline btn btn-lg btn-red", :method => :get %>
