<div class="container">
    <div class="row">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title">
            <i class="icon-user"></i>
            <%= @user.person.full_name %>
          </h3>
          <h5>
            <span>
              <%= @user.email %>
            </span>
          </h5>
        </div>
        <ul class="list-inline pull-right sparkline-box">
          <!-- <li class="sparkline-row">
            <h4 class="blue"><span></span></h4>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="box">
          <div class="box-header">
            <span class="title">Profile</span>
          </div>
          <div class="box-content">
            <div class="padded">
              <%= simple_form_for @user.person do |f| %>
                <%= f.input :full_name %>
                <%= f.input :first_name %>
                <%= f.input :email %>
                <%= f.input :last_name %>
                <%= f.input :phone_number %>
                <%= f.input :gender, collection: ["male", "female"], as: :radio_buttons %>
                <%= f.input :date_of_birth %>
                <%= f.input :nationality %>
                <%= f.button :submit %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="box-header">
            <span class="title">Image</span>
          </div>
          <div class="box-content-padded">
            <div class="text-center">
              <div class=""></div>
              <div class="avatar">
                <img src="<%= current_user.person.avatar %>">
              </div>
                <div>
                  <%= link_to 'change picture', "#modal-image", :class => "inline btn btn-sm btn-default", :data => {toggle: "modal"} %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% @image_type = {type: "user-profile", id: @user.id} %>
<%= render 'modals/add_image' %>
