<div class="container">
  <div class="row">
    <div class="area-top clearfix">
      <div class="pull-left header">
        <h3 class="title">
          <i class="icon-heart"></i>
          Sponsorships
        </h3>
      </div>
    </div>
  </div>

  <table class="table table-normal">

      <thead>
        <tr class="info">
          <td>Amount</td>
          <td>Recurring Payment</td>
          <td>Active</td>
          <td>Start Date</td>
          <td>End Date</td>
          <td>Type</td>
        </tr>
      </thead>
      <tbody>
        <% @sponsorships.each do |s| %>
          <tr>
            <td><a href="sponsorships/<%= s.id %>"><%= s.amount %></a></td>
            <td><% if s.recurring_payment %>
                <i class="icon-refresh"></i>
              <% end %></a></td>
            <td class="status-success">
              <% if s.active %>
                <i class="icon-ok"></i>
              <% end %></td>
            <td><a href="sponsorships/<%= s.id %>"><%= s.start_date  %></a></td>
            <td><a href="sponsorships/<%= s.id %>"><%= s.end_date  %></a></td></a></td>
            <td><a href="sponsorships/<%= s.id %>"></a></td></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @sponsorships %>
</div>
<div>

</div>
</div>
