Receivers:
<br>
<% @sponsorship.receivers.each do |s| %>
  <% if s.receiverable_type == "Person" %>
    <%= s.receiverable.full_name %>
  <% elsif s.receiverable_type == "Project" %>
    <%= s.receiverable.name %>
  <% end %>
<% end %>
<br>
<br>
Sponsors: <br>
  <% @sponsorship.sponsors.each do |t| %>
    <%= t.full_name %>
  <% end %>
<br>
<br>



@paypal[:token]

Transactions: <br>

<table class="table table-normal">
  <thead>
    <tr>
      <td>Date</td>
      <td>Full name</td>
      <td>Amount</td>
    </tr>
  </thead>
  <tbody>
    <% @sponsorship.transactions.each do |t| %>
      <tr>
        <td>date: <%= t.date %> </td>
        <td>sponsor: <%= t.payer.full_name  %> </td>
        <td>amount: <%= t.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Add manual transaction', new_transaction_path(sponsorship_id: @sponsorship.id, transaction_type_id: 0), :class => "btn btn-blue"%>
<%= link_to 'Pay with paypal', "#modal-paypal", :class => "btn btn-blue", :data => {toggle: "modal"}%>
<%= link_to 'Pay finsih', "#modal-paypal-confirm", :class => "btn btn-blue", :data => {toggle: "modal"}%>

<%= render "modals/paypal" %>
<% if @sponsorship.paypal_payments.last %>
  <%= render "modals/paypal_confirm" %>
<% end %>

