<div id="modal-image" class="modal fade" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Upload image</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for Image.new, wrapper: :placeholder, :html => {multipart: true } do |f| %>
            <%= f.input :title, placeholder: 'title' %>
            <%= f.input :url, as: :file %>
            <%= f.input :image_for_type, as: :hidden, input_html: { value: @image_type[:type], name: "image_for[type]" } %>
            <%= f.input :image_for_id, as: :hidden, input_html: { value: @image_type[:id], name: "image_for[id]" } %>
                   </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= f.button :submit, value: "Upload image" %>
          <% end %>
        <!-- <button type="button" class="btn btn-blue">Upload image</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
