<div id="new-person" class="modal fade" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Person</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="col-md-12">
          <%= simple_form_for Person.new do |f| %>
            <%= f.input :full_name %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :gender %>
            <%= f.input :nationality %>
            <%= f.input :phone_number %>
            <%= f.input :date_of_birth %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= f.button :submit, value: "Submit" %>
          <% end %>
        <!-- <button type="button" class="btn btn-blue">Upload image</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
