<h1><%=t :hi %></h1>


<!-- <a id="email" href="#">Send Email</a> -->

<%= form_for :email do |f| %>
  <p>
    <%= f.label :"Story title" %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :"Story content" %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
