<%= form_for @image, :url => { :action => "create" }, :html => {:multipart => true} do |f| %>

   <!-- we can change this field to a different one -->
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :remote_image_url, "or image URL" %><br />
    <%= f.text_field :remote_image_url %>
  </p>
  <p>
    <%= check_box_tag(:remove_image) %>
    <%= label_tag(:remove_image, "Delete image") %>
  </p>
  <p><%= f.submit %></p>

<% end %>