<%= form_for @image, :html => {:multipart => true} do |f| %>

   <!-- we can change this field to a different one -->
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.file_field :url %>
  </p>
  <p><%= f.submit %></p>

<% end %>
