<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">

  <div class="navbar-header">
    <%= link_to("oliwi.org", dashboard_path, class: "navbar-brand") %>
    <!-- <a class="navbar-brand" href="#">oliwi.org</a> -->

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-primary">
      <span class="sr-only">Toggle Side Navigation</span>
      <i class="icon-th-list"></i>
    </button>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-top">
      <span class="sr-only">Toggle Top Navigation</span>
      <i class="icon-align-justify"></i>
    </button>
  </div>

  <div class="collapse navbar-collapse navbar-collapse-top">
    <div class="navbar-right">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown cdrop">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t "top_nav.select_language" %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#"><div><%= image_tag "flags/united_states_of_america_round_icon_64.png", :size => "22x20" %><%= link_to "English", :locale=>'en'%></div></a></li>
            <li><a href="#"><div><%= image_tag "flags/norway_round_icon_64.png", :size => "24x20" %><%= link_to "Norwegian", :locale=>'no'%></div></a></li>
            <li><a href="#"><div><%= image_tag "flags/philippines_round_icon_64.png", :size => "24x20" %><%= link_to "Tagalog", :locale=>'tl'%></div></a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <div class="dropdown cdrop">
            <input id="search-field" type="text" class="search-query animated" placeholder="<%= t "top_nav.search" %>">
            <i class="icon-search"></i>
              <div class="chat-message-box" id="search-result" >


              </div>
            </div>
        </div>
      </form>

      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
           <% if current_user.person %>
          <a href="#" class="dropdown-toggle dropdown-avatar" data-toggle="dropdown">
          <span>
            <img class="menu-avatar" src="<%= current_user.person.avatar %>"> <span><%= current_user.person.full_name %><i class="icon-caret-down"></i></span>
          </span>
          </a>
          <% end %>
          <ul class="dropdown-menu padded">

            <!-- the first element is the one with the big avatar, add a with-image class to it -->
           <% if current_user.person %>
            <li class="with-image">
              <div class="avatar">
                <img src="<%= current_user.person.avatar %>">
              </div>
              <span><%= current_user.person.full_name %></span>
            </li>
             <% end %>

            <li class="divider"></li>

            <li class="text-left">
              <a href="<%= "/users/" + current_user.id.to_s %>">
                <i class="icon-user"></i>
                <span><%= t "top_nav.profile" %></span>
              </a>
            </li>
            <li>
              <%= link_to(destroy_user_session_path, options = {method: :delete}) do %>
                <i class="icon-off"></i>
                <span><%= t "top_nav.logout" %></span>
              <% end %>
            </li>
          </ul>
      </ul>
    </div>
  </div>
</nav>
