<!DOCTYPE html>
<html>
<head>
  <title>UnusUniRails3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

  <% if user_signed_in? %>
    <%= render "layouts/navbar" %>
    <%= render "layouts/sidebar" %>
    <div class="main-content">
      <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
<div id="flash-errors">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, content_tag(:span, name, id: 'err-name') + content_tag(:span, msg, id: 'err-msg') ,{id: 'message', class: name }%>
  <% end %>
</div>
</body>
</html>

