<!DOCTYPE html>
<html>
<head>
  <title>UnusUniRails3</title>
   <script type="text/javascript" src="https://mandrillapp.com/api/docs/js/mandrill.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>
      <%= render "layouts/navbar" %>
      <%= render "layouts/sidebar" %>
  <% end %>


    <%= yield %>
      <!-- HERE goes the actual page content -->

  </div>



</body>
</html>
